# .NET
bin/
obj/
*.user
*.tmp
*.log

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/

# IDEs
.vscode/
.idea/
*.swp
*.swo

.angular/

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite

# Markdown files (except README.md)
*.md
!README.md
